              
              <form ng-submit="createPark(park)">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="Plate No" ng-model="park.plateNo" ng-required="true">
                  </label>
                </div>
                <div class="padding">
                  <button type="submit" class="button button-block button-positive">Park</button>
                </div>
              </form>
              <ion-nav-view></ion-nav-view>